.centre {
  color: maroon;
  text-align: center;
}
.intro {
  text-align: center;
}
h3 {
  font-weight: bold;
  font-family: fantasy;
  font-style: oblique;
  font-size: 20px;
}
.bold {
  strong
}
h4 {
  font-size: 20px;
}
.bold header {
 font-weight: bold;
}
.h2 centre {
  text-align: center;
}
.larger {
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
}
body {
  background-color: silver;

}
.move {
  text-align: center;
}
.columns {
  float: left;
  column-count: 2;
}
.boxed {
  border: 2px solid white;
  padding: 10px;
  margin: 20px;
}
.remark {
  text-align: center;
  text-decoration: underline;
}
